In [1]:
import pandas as  pd
import os
from src.feature.process_thai_text import process_text

In [2]:
data_path_wn = os.path.dirname(os.getcwd()) + '\\data\\raw\\wongnai\\'

In [29]:
train_df = pd.read_csv(data_path_wn + 'w_review_train.csv', sep=";", header=None).drop_duplicates()
train_df.columns = ['text', 'target']
train_df

                                                    text  target
0      ร้านอาหารใหญ่มากกกกกกก \nเลี้ยวเข้ามาเจอห้องน้...       3
1      อาหารที่นี่เป็นอาหารจีนแคะที่หากินยากในบ้านเรา...       4
2      ปอเปี๊ยะสด ทุกวันนี้รู้สึกว่าหากินยาก (ร้านที่...       3
3      รัานคัพเค้กในเมืองไทยมีไม่มาก หลายๆคนอาจจะสงสั...       5
4      อร่อย!!! เดินผ่านDigital gatewayทุกวัน ไม่ยักร...       5
...                                                  ...     ...
39995  รู้จักร้านนี้จากวงใน ร้านอยู่ในอาคารพาณิชย์ตรง...       4
39996  ร้านซูชิอาหารญี่ปุ่น อยู่ตรงสะพานลอย เกษตรประต...       4
39997  "Cantina Wine Bar & Italian Kitchen" ร้านเล็กๆ...       5
39998  ร้านเค้กน่ารักๆ ตรงชั้นล่างของห้างเซ็นทรัลลาดพ...       3
39999  วันนี้มากินกันไกลถึงแม่สอดจังหวัดตากติดกับชายแ...       3

[39993 rows x 2 columns]

In [32]:
test_df = pd.read_csv(data_path_wn + 'test_file.csv', sep=";")
test_df["rating"] = 0
test_df

      reviewID                                             review  rating
0            1       ร้านนี้จะอยู่เส้นสันกำแพง-แม่ออน เลยแยกบ่...       0
1            2  สั่งไป2 เมนู คือมัชฉะลาเต้ร้อน กับ ไอศครีมชาเข...       0
2            3  ครัววงเดือน  \n\nหิวดึกๆ ตระเวนหาร้านทาน มาเจอ...       0
3            4       จะว่าเป็นเจ้าประจำก็คงไม่ผิด แต่ก็ไม่กล้า...       0
4            5  ถ้าคิดถึงสลัดผมคิดถึงร้านนี้เป็นร้านแรกๆเลยครั...       0
...        ...                                                ...     ...
6198      6199  ร้านโรตีสายไหมพญาวัง อยู่ถนนรัตนโกสินทร์ หลังโ...       0
6199      6200  ข้าวผัดคอหมูย่าง ข้าวผัดมากลิ่นหอม คอหมูย่างอร...       0
6200      6201  ร้านอาหารมีหลายโซน แนะนำให้เดินดูก่อนค่อยเลือก...       0
6201      6202       ขนมปังร้านในเครือยามาซากิ จริงๆร้านนี้เปิ...       0
6202      6203  ร้านอาหารใหญ่มากกกกกกก \nเลี้ยวเข้ามาเจอห้องน้...       0

[6203 rows x 3 columns]

In [37]:
test_df.rename(columns={'review': 'text', 'rating': 'target'}, inplace=True)
test_df = test_df.drop('reviewID', 1)
test_df

C:\Users\Pree\AppData\Local\Temp\ipykernel_42896\2337588642.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  test_df = test_df.drop('reviewID', 1)

                                                   text  target
0          ร้านนี้จะอยู่เส้นสันกำแพง-แม่ออน เลยแยกบ่...       0
1     สั่งไป2 เมนู คือมัชฉะลาเต้ร้อน กับ ไอศครีมชาเข...       0
2     ครัววงเดือน  \n\nหิวดึกๆ ตระเวนหาร้านทาน มาเจอ...       0
3          จะว่าเป็นเจ้าประจำก็คงไม่ผิด แต่ก็ไม่กล้า...       0
4     ถ้าคิดถึงสลัดผมคิดถึงร้านนี้เป็นร้านแรกๆเลยครั...       0
...                                                 ...     ...
6198  ร้านโรตีสายไหมพญาวัง อยู่ถนนรัตนโกสินทร์ หลังโ...       0
6199  ข้าวผัดคอหมูย่าง ข้าวผัดมากลิ่นหอม คอหมูย่างอร...       0
6200  ร้านอาหารมีหลายโซน แนะนำให้เดินดูก่อนค่อยเลือก...       0
6201       ขนมปังร้านในเครือยามาซากิ จริงๆร้านนี้เปิ...       0
6202  ร้านอาหารใหญ่มากกกกกกก \nเลี้ยวเข้ามาเจอห้องน้...       0

[6203 rows x 2 columns]

In [41]:
all_df = pd.concat([train_df , test_df], axis=0)
all_df

                                                   text  target
0     ร้านอาหารใหญ่มากกกกกกก \nเลี้ยวเข้ามาเจอห้องน้...       3
1     อาหารที่นี่เป็นอาหารจีนแคะที่หากินยากในบ้านเรา...       4
2     ปอเปี๊ยะสด ทุกวันนี้รู้สึกว่าหากินยาก (ร้านที่...       3
3     รัานคัพเค้กในเมืองไทยมีไม่มาก หลายๆคนอาจจะสงสั...       5
4     อร่อย!!! เดินผ่านDigital gatewayทุกวัน ไม่ยักร...       5
...                                                 ...     ...
6198  ร้านโรตีสายไหมพญาวัง อยู่ถนนรัตนโกสินทร์ หลังโ...       0
6199  ข้าวผัดคอหมูย่าง ข้าวผัดมากลิ่นหอม คอหมูย่างอร...       0
6200  ร้านอาหารมีหลายโซน แนะนำให้เดินดูก่อนค่อยเลือก...       0
6201       ขนมปังร้านในเครือยามาซากิ จริงๆร้านนี้เปิ...       0
6202  ร้านอาหารใหญ่มากกกกกกก \nเลี้ยวเข้ามาเจอห้องน้...       0

[46196 rows x 2 columns]

In [42]:
df = pd.concat([pd.DataFrame(test_df["text"]), pd.DataFrame(train_df["text"])]).reset_index(drop=True)

In [43]:
df

                                                    text
0           ร้านนี้จะอยู่เส้นสันกำแพง-แม่ออน เลยแยกบ่...
1      สั่งไป2 เมนู คือมัชฉะลาเต้ร้อน กับ ไอศครีมชาเข...
2      ครัววงเดือน  \n\nหิวดึกๆ ตระเวนหาร้านทาน มาเจอ...
3           จะว่าเป็นเจ้าประจำก็คงไม่ผิด แต่ก็ไม่กล้า...
4      ถ้าคิดถึงสลัดผมคิดถึงร้านนี้เป็นร้านแรกๆเลยครั...
...                                                  ...
46191  รู้จักร้านนี้จากวงใน ร้านอยู่ในอาคารพาณิชย์ตรง...
46192  ร้านซูชิอาหารญี่ปุ่น อยู่ตรงสะพานลอย เกษตรประต...
46193  "Cantina Wine Bar & Italian Kitchen" ร้านเล็กๆ...
46194  ร้านเค้กน่ารักๆ ตรงชั้นล่างของห้างเซ็นทรัลลาดพ...
46195  วันนี้มากินกันไกลถึงแม่สอดจังหวัดตากติดกับชายแ...

[46196 rows x 1 columns]

In [7]:
df_wn.head()

   raw
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN